.body{
    display: flex;
    flex-direction: column;
}

.container-dash-doctor{
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 25px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tools {
    display: flex;
    width: 55%;
    max-width: 1260px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.tools .add {
    width: 20%;
    min-width: 110px;
    margin-right: 20px;
    background-color: #01b654;
}

.tools .bsearch {
    width: 10%;
    min-width: 55px;
    border-radius: 0 10px 10px 0;
    padding-top: 5px;
}

.tools .isearch {
    border-radius: 10px 0 0 10px;
}

.patientBoard {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    width: 85%;
}

.boards {
    display: flex;
    flex-direction: row;
    width: 85%;
    max-width: 1950px;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.patientBoard h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.patientBoard p {
    font-size: 16px;
    margin-bottom: 15px;
}

.patientBoard .rowBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.patientBoard .detailsBoard {
    color: black;
    margin-right: 15px;
}


