.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login{
    width: 100%;
    max-width: 384px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login h4 {
    font-size: 24px;
    text-align: center;
}

.back {
    background-color: #54affd !important;
}